<div class="footer-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>About</h4>
                <p>© {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
            </div>
            <div class="col-md-4">
                <h4>Contact</h4>
                <p>Email: <a href="mailto:ivan.kuria@example.com">ivan.kuria@example.com</a></p>
            </div>
            <div class="col-md-4">
                <h4>Follow Me</h4>
                <a href="https://www.linkedin.com/in/ivan-j-kuria-p/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://twitter.com/jovicorp_studio" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/i-am-ivan/" target="_blank"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
</div>
