<div class="sidebar-content">
    <img src="{{ '/assets/images/profile.jpg' | relative_url }}" alt="Ivan Kuria" class="portrait">
    <h2>Ivan Kuria</h2>
    <h3>Security-focused Solutions Architect</h3>
    <p>Designing and implementing secure, future-proof systems using modern technologies.</p>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/ivan-j-kuria-p/" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a>
        <a href="https://twitter.com/jovicorp_studio" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
        <a href="https://github.com/i-am-ivan/" target="_blank"><i class="fa fa-github"></i> GitHub</a>
    </div>
</div>
